header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;

    a {
        text-decoration: none;
    }

    h1 {
        margin: 0;

    }
    nav {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

}

$rw: 2.5em;

h1.rara {
    display: flex;
    gap: 0.2em;
    svg {
        width: $rw;
        height: $rw;
    }
}

@media 
    only screen and (max-width: 620px)
    {  

    header nav {
        flex-direction: column;
        justify-content: flex-start;
        gap: 1em;
    }

    h1.rara {
        display: grid;
        grid-template-columns: $rw $rw;
        grid-template-rows: $rw $rw;
        // grid-row: auto auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}