<!doctype html>
<html>
  <head>
  <title>{{page.title}}</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="theme-color" content="#222">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">

  {{ page.head }}
  </head>
  <body class="{{page.class}}">
    {% include header.html %}
    <main>
        {{ content }}
    </main>
  </body>
</html>
